.title {
    display: inline-flex;
    gap: 1rem;
    width: 95%;
    justify-content: center;
}

.selector {
    display: inline-flex;
    align-items: center;
}

.NFTs {
    overflow-x: hidden;
    max-height: 90%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    gap: 15px;
}

.text {
    color: #eee;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 25px;
    margin-block: 20px;
}
